.remark-slide-content h1 {
  font-size: 3.4em;
  color: #606060;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 0em;
}
.remark-slide-content h2 {
  font-size: 2.55em;
  color: #606060;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 0em;
}
.remark-slide-content h3 {
  font-size: 1.4em;
  color: #606060;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 0em;
}
pre {
  background-color: #e6e2e2 !important;
}
.remark-code {
  background-color: #e6e2e2 !important;
  padding: 0vh;
}
.remark-slide-content p,
ol ul {
  font-size: 1.2em;
  font-weight: bold;
}
.remark-fading {
  z-index: 9;
}

.remark-slide-content li:before {
  content: "\2014\00a0\00a0"; /* em-dash followed by two non-breaking spaces*/
}
.remark-slide-content li {
  list-style: none;
  text-indent: -1.5em;
  padding-left: 1.5em;
}

/* Thanks to http://www.partage-it.com/animez-vos-presentations-remark-js/  (in French) */
.remark-slide-container {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
.remark-visible {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

/* Two-column layout */
.left-column {
  width: 50%;
  float: left;
}
.right-column {
  width: 49%;
  float: right;
  padding-top: 0em;
  margin-top: 0em;
  text-align: left;
}
.footnote {
  position: absolute;
  bottom: 1em;
  left: 14em;
  font-size: 0.7em;
}

/* Some special classes */
